body{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 100px;
}

div {
    background-color: darkgray;
    text-align: center;
    margin: 20px;
}
fieldset{
    padding: 10px;
}

button{
    margin: 20px;
    padding: 10px;
}
.error{
    padding: 5px;
    color: red;
    font-size: 12px;
}
span{
    display: block;
}

.border{
    border: 1px solid #2b89e7;
}